<title>20 извес2тных звезд россий2ского шоу-бизнеса тогда сейчас</title>
<meta property="og:image" content="https://pp.vk.me/c837635/v837635374/35b7/Gu5C23XXlcQ.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="https://t.co/8FpdG4M40I" 
//--> 
</script>